{% extends "base.html.twig" %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h2 class="text-center">
            Welcome to Microblog (Slim3)!
        </h2>
    </div>
{% endblock %}

{% block page_js %}{% endblock %}