{% extends "base.html.twig" %}

{% block page_title %}Home{% enblock %}

{% block page_content %}
<div class="card">
    <div class="card-header card-header-gray">
        <h2 class="card-title">
            {{ post. }}
        </h2>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">

    </div>
</div>
{% enblock %}

{% block page_js %}{% enblock %}